node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# build output of local Expo modules
modules/*/android/build/
modules/*/android/.gradle/
__pycache__/
